.listMain {
    width: 70vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.listMain ul {
    width: 60vw;
    height: 60vh;
    color: white;
    overflow-x: hidden;

}

.item {
    transition: all ease 0.5s;
    width: 55vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 4px;
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.completado {
    transition: all ease 0.5s;
    width: 55vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 4px;
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
    background-color: rgba(14, 73, 12, 0.6);
}

.divTeste{
    display: flex;
    align-items: center;
}

.excluirItem{
    background-color: red;
    width: 5vw;
    height: 10vh;
    padding: 5px;
    border-radius: 0px 15px 15px 0px;

}

.listMain ul li h3 {
    margin-top: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}